nav{
    margin-bottom: 20px;
}

.table td, .table th {
    text-align: center;   
 }

 .tituloTabla{
     font-size: 1.5em;
 }

@keyframes rotate360 {
    to { 
        transform: rotate(360deg); 
    }
}

.girar { 
    animation: 2s rotate360 infinite linear;
    width: 40px;
}

.base { 
    background-color: rgb(245, 243, 240); 
    background-blend-mode: multiply; 
}

.verde { 
    background-color: rgb(26, 170, 50); 
    background-blend-mode: multiply; 
} 